<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<script src="js/vue.js"></script>
	<script>
		window.onload = function(){
			var vm = new Vue({
				el:'#box',
				data:{
					'msg':'欢迎来到vue!',
					'arr':['apply','pay','join','component'],
					'json':{'name':'json','sex':'15:01'}
				}
			})
		};
	</script>
</head>
<body>
<div id="box">
	<ul>
		<li v-for="item in json">
			{{item}} {{$index}} {{$key}}
		</li>
	</ul>
	<hr />
	<ul>
		<li v-for="value in arr">
			{{value}} {{$index}}
		</li>
	</ul>
</div>
</body>
</html>
